.storyBar {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 14px 16px;
  border-radius: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  background-color: var(--card-bg);

  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;

  scroll-behavior: smooth;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.storyBar::-webkit-scrollbar {
  display: none;
}

.storyBar {
  transition: transform 0.25s ease;
}

.storyBar:hover { 
  transform: scale(1.03);
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  flex-shrink: 0;
  width: 100px;
  transition: transform 0.18s ease;
}

.story img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid transparent;
  background: var(--story-border);
  object-fit: cover;
  margin-bottom: 0px;
  display: block;
  transition: transform 0.2s ease;
}

.story:hover { transform: translateY(-3px) }
.story img:hover { transform: scale(1.06); }

.story span {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: var(--foreground);
  font-weight: 500;
}

.avatarWrapper {
  padding: 2px;
  border-radius: 60%;
  background: transparent;
  transition: all 0.3s ease;
}

.unviewed .avatarWrapper {
  background: rgba(79, 91, 213, 0.6);
  padding: 2px;
  box-shadow: 0 0 6px rgba(79, 91, 213, 0.8);
}
