.homePage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: calc(var(--content-width) + 64px);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.stories-wrapper {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto 1.8rem auto;
  padding: 0 8px;
  box-sizing: border-box;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.postCard {
  width: var(--content-width);
  max-width: 100%;
}

/* адаптивность */
@media (max-width: 1024px) and (min-width: 600px) {
  :root {
    --content-width: 680px;
  }

  .homePage {
    padding: 0 1.5rem;
    gap: 2rem;
  }

  .stories-wrapper {
    width: var(--content-width);
    padding: 0 10px;
    margin-bottom: 1.6rem;
  }

  .postCard {
    width: var(--content-width);
  }
}

/* Мобильные устройства */
@media (max-width: 600px) {
  :root {
    --content-width: 100%;
  }

  .homePage {
    max-width: 100%;
    padding: 0 1.2rem;
    gap: 1.5rem;
  }

  .stories-wrapper {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 1.2rem;
  }

  .postCard {
    width: 100%;
  }
}

.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.feed {
  padding-bottom: 50px; 
}