.homePage {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  max-width: calc(var(--content-width) + 64px);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.stories-wrapper {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto 1.8rem auto;
  padding: 0 8px;
  box-sizing: border-box;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.postCard {
  width: var(--content-width);
  max-width: 100%;
}
