.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 2rem;

  /* Используем переменные темы из globals.css */
  background: var(--background);
  color: var(--foreground);
  transition: background 0.4s ease, color 0.3s ease;
}

.title {
  font-size: 6rem;
  margin: 0;
}

.subtitle {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  max-width: 400px;
}

.link {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent);
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: var(--scrollbar-thumb-hover);
}
